@font-face {
  font-family: "Khand";
  src: url("../fonts/khand/khand-medium-webfont.woff2") format("woff2");
}

body {
  font-family: "Khand", sans-serif;
  font-size: 20px;
  background-color: #333333;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.center-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
}

.column {
  flex: 1;
  margin: 0 10px;
  background-color: #f0f0f0;
  padding: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  /* display: inline-block; */
  width: 20px;
  height:20px;
}
