{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script",
        "ecmaFeatures": {
            "jsx": false,
            "experimentalObjectRestSpread": false
        }
    },
    "env": {
        "browser": true
    },
    "rules": {
        "indent": [
            "error",
            2
        ]
    }
}
