@font-face {
  font-family: "Khand";
  src: url("fonts/khand/khand-medium-webfont.woff2") format("woff2");
  font-display: swap;
}

h1 {
  text-align: center;
  color: #4ccd99;
}

body {
  font-family: "Khand", sans-serif;
  font-size: 1.5em;
  background-color: #333333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  flex-direction: column;
}

/* Three column layout structure */
.center-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 10px;
  background-color: rgba(26, 44, 56, 0.6);
  color: #ffa303;
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 680px) {
  .center-container {
    display: flex;
    flex-direction: column;
  }
}

#zootedb0t {
  color: #fff455;
}

/* Search Form Styling */
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;
}

.searchbar form {
  display: flex;
  align-items: center;
  margin: 0;
}

.searchbar input[type="text"]:focus {
  background-color: #ededed;
}

.searchbar input[type="text"] {
  border: none;
  padding: 10px;
  outline: none;
}

.searchbar input[type="submit"] {
  background-color: #429bff;
  color: #000000;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

#submitsearch:hover {
  background: #046ad6;
}

/* Remove styling from Bookmark List */
ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

/* Bookmark Styling */
a {
  position: relative;
  color: #ffe0ae;
  text-decoration: none;
}

a:hover {
  color: #ff4500;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff4500;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}
