:root {
  --background: 61, 58, 74;
  --inchworm: #befa4f;
  --crystal_blue: #5aa7b9;
  --english_violet: #513a6b;
  --burnt-sienna: #ed6d4d;
  --booger_buster: #e0ee64;
  --desire: #e93f51;
  --arsenic: #3d3a4a;
}

@font-face {
  font-family: "Khand";
  src: url("fonts/khand/khand-medium-webfont.woff2") format("woff2");
  font-display: swap;
}

h1 {
  text-align: center;
  color: var(--crystal_blue);
}

body {
  font-family: "Khand", sans-serif;
  font-size: 1.5em;
  background-color: rgba(var(--background), 1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-container {
  display: flex;
  flex-direction: column;
}

/* Three column layout structure */
.center-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 10px;
  background-color: rgba(var(--background), 0.5);
  color: var(--booger_buster);
  padding: 10px;
  border-radius: 5px;
}

@media screen and (max-width: 680px) {
  .center-container {
    display: flex;
    flex-direction: column;
  }
}

form {
  display: flex;
  justify-content: center;
  clear: both;
}

form input[type="text"] {
  background-color: var(--arsenic);
  color: #ffe0ae;
  font-weight: bold;
  padding: 10px;
	width: 400px;
  border-radius: 5px;
  outline: none;
  border: none;
}

/* Remove styling from Bookmark List */
ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

/* Bookmark Styling */
a {
  position: relative;
  color: #ffe0ae;
  text-decoration: none;
}

a:hover {
  color: #ff4500;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff4500;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
}

#blinking {
  animation: blink 4s linear infinite;
  font-style: italic;
  color: var(--inchworm);
}
